<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projects</title>
  <!-- Add Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  <p id="notice"><%= notice %></p>

  <h1>Projects</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.title %></td>
          <td><%= project.description %></td>
          
          <td><%= button_to 'Show', project, method: :get, class: "btn btn-outline-success", form_class: "d-inline" %></td>

          <td><%= button_to 'Edit', edit_project_path(project), method: :get, class: "btn btn-outline-success", form_class: "d-inline" %></td>

          <td><%= button_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  
  <td><%= button_to 'New Project', new_project_path, method: :get, class: "btn btn-outline-success", form_class: "d-inline" %></td>

</body>
</html>
