<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projects</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .rounded-box {
      border-radius: 15px;
      padding: 20px;
      background-color: #ffffff;
      width: 250px;
      height: 175px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>

  <p id="notice"><%= notice %></p>

  <h1>Calendar</h1>

  <% @projects.each do |project| %>
    <div class="rounded-box my-3">
      <h3><%= project.title %></h3>
      <p><%= project.description %></p>
      
      <div class="d-flex">
        <%= link_to 'Show', project, class: "btn btn-outline-success me-2" %>
        <%= link_to 'Edit', edit_project_path(project), class: "btn btn-outline-success me-2" %>
        <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
      </div>
    </div>
  <% end %>

  <br>
  
  <%= link_to 'New Project', new_project_path, class: "btn btn-outline-success" %>

</body>
</html>
