<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Details</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .rounded-box {
      border-radius: 15px;
      padding: 20px;
      background-color: #ffffff;
      width: 250px;
      height: 175px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>

  <p id="notice"><%= notice %></p>

  <div class="rounded-box">
    <p>
      <strong>Title:</strong>
      <%= @project.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @project.description %>
    </p>

    <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-outline-success" %>
    <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
    <%= link_to 'Home', projects_path, class: "btn btn-outline-success" %>

  </div>

</body>
</html>
